.container {
  margin-top: 65px;
  margin-bottom: 30px;
}
.quest {
  font-weight: bold;
}
.quest:after {
  content:"\A";
  white-space:pre;
}
.subtext {
  color: #c0c0c0;
}
.tooltip-inner {
    white-space:pre-wrap;
}
