{% extends "base.html" %}
{% block title %}Your work{% endblock %}
{% load mathfilters %}
{% block content %}
<div class="page-header">
<h1>Your work {{month}}/{{year}}</h1>
<form role="form" action="/" method="POST">
  {% csrf_token %}
   <div class="form-group">
     <label for="date-sel">Month:</label>
     <select class="form-control" name="month" id="date-sel" onchange="submit(this)">
       {% for i in "xxxxxxxxxxxx" %}
    <option {% ifequal month forloop.counter%} selected="selected" {%endifequal%}>{{ forloop.counter }}</option>
{% endfor %}
     </select>
     <br/>
     <label for="year">Year:</label>
     <select class="form-control" id="year" name="year" onchange="submit(this)">
       {% for y in years %}
       <option {% ifequal y year %} selected="selected"{%endifequal%}>{{y}}</option>
       {%endfor%}
     </select>
   </div>
   <input name="date" class="btn btn-primary pull-right" type="submit" value="Go"/>
 </form>
 <br/>
<hr/>
{% if contracts %}
{% include "errorhandle.html" %}

{% for c in contracts %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Work hours for '<b>{{c.department}}</b>'</div>

  <form method="POST" action="/">
  {% csrf_token %}
  <input type="hidden" name="month" value="{{month}}"/>
  <input type="hidden" name="year" value="{{year}}"/>
  <table class="table">
    <tr>
      <th>Activity (keyword, project)</th><th>Date</th><th>Start</th><th>End</th><th>Pause</th><th>Worktime</th><th></th>

    </tr>
    <tr>
      <th></th><th></th><th></th><th></th><th></th><th>Work from last month: {{c.current_worklog.overWork}}</th><th></th>
    </tr>
    <tr>
      <th></th><th></th><th></th><th></th><th></th><th>Vacation: {{c.partVac}}</th><th></th>

    </tr>
    {% for w in c.current_worklog.worktime_set.all  %}
    <tr>
      <td>{{w.activity}}</td><td>{{w.date|date:"d.m.y"}}</td><td>{{w.begin|time:"H:i"}}</td><td>{{w.end|time:"H:i"}}</td><td>{{w.pause}}</td><td>{{w.hours}}</td>
      <td><a href="/work/{{w.id}}/delete" class="btn btn-primary"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
    </tr>
    {% endfor %}
    <tr>
      <td><input class="form-control" type="text" name="activity" {%if error %}{% ifequal c.id posted_contract %} value="{{postdata.activity}}"{%endifequal%}{%endif%}/></td>
      <td><input class="form-control datepicker" type="text" name="date" {%if error %}{% ifequal c.id posted_contract %} value="{{postdata.date}}"{%endifequal%}{%endif%}/></td>
      <td><input class="form-control timepicker" type="text" name="start" {%if error %}{% ifequal c.id posted_contract %} value="{{postdata.start}}"{%endifequal%}{%endif%}/></td>
      <td><input class="form-control timepicker" type="text" name="end" {%if error %}{% ifequal c.id posted_contract %} value="{{postdata.end}}"{%endifequal%}{%endif%}/></td>
      <td><input class="form-control" type="text" name="pause" {%if error %}{% ifequal c.id posted_contract %} value="{{postdata.pause}}"{%endifequal%}{%endif%}/></td>
      <td></td>
      <td><input class="btn btn-primary {% ifequal c.cSum c.hours|mul:1.5%}disabled{%endifequal%}" {% ifequal c.cSum c.hours|mul:1.5%}onclick="return false"{%endifequal%} value="OK" type="submit"/></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>&Sigma; {{c.cSum}} {% if c.critSum %}<span data-toggle="tooltip" data-placement="bottom" title="{% ifequal c.cSum c.hours|mul:1.5%}Your working time for this month reached its maximum limit of {{c.hours|mul:1.5}} hours.{%else%}You are near your maximum monthly limit of {{c.hours|mul:1.5}} hours.{%endifequal%}" class="glyphicon glyphicon-warning-sign text-danger" aria-hidden="true"></span>{% endif %}</strong></td>
      <td><a href="contract/{{c.id}}/{{month}}/{{year}}/print" class="btn btn-success"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</a></td>
    </tr>
  </table>
  <input type="hidden" name="contract_id" value="{{c.id}}"/>
</form>
</div>
{% endfor %}
{% else %}
<div class="alert alert-info" role="alert"><h2>Nothing here for this month <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span></h2><a href="/profile/contract/add/">Add a contract</a> in your <a href="/profile/">profile</a> to get stared.</div>
{% endif %}
{% endblock %}
