{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">Your username and password didn't match. Please try again.</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
  <div class="form-group">
    <label for="id_username">KIT-Account</label>
    <input type="text" id="id_username" type="text" name="username" class="form-control" placeholder="KIT-Account">
  </div>
  <div class="form-group">
    <label for="id_password">Password</label>
    <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
