{% extends "base.html" %}

{% block content %}
<div class="page-header">
<h1>Your profile</h1>
</div>
{% include "errorhandle.html" %}
<h2>Your data</h2>
<form method="POST" action="/profile/">
<table class="table">
  {% csrf_token %}
  <tr>
    <th>KIT-account</th>
    <td><input class="form-control" id="kit-acc" type="text" value="{{user.kitaccount}}" disabled></td>
  </tr>
  <tr>
    <th>Firstname</th>
    <td><input class="form-control" id="fn" type="text" value="{{user.firstname}}" disabled></td>
  </tr>
  <tr>
    <th>Surname</th>
    <td><input class="form-control" id="sn" type="text" value="{{user.lastname}}" disabled></td>
  </tr>
  <tr>
    <th>Password</th>
    <td>Changable at the <a href="https://campus.studium.kit.edu/">Campus Management Portal</a> (student accounts) or the <a href="https://intra.kit.edu">KIT Intranetportal</a> (partner/guest accounts).</td>
  </tr>
  <tr>
    <th>E-Mail</th>
    <td><input class="form-control" id="kit-mail" type="text" value="{{user.email}}" disabled></td>
  </tr>
  <tr>
    <th>Private E-Mail</th>
    <td><input class="form-control" name="private_email" id="private-mail" type="text" value="{% if user.private_email %}{{user.private_email}}{% endif %}" ></td>
  </tr>
  <tr><td></td><td><input name="private_notif" type="checkbox" {% if user.notify_to_private %} checked {%endif%}/> Send notifications to my private E-Mail address specified above.</td></tr>
  <tr>
    <th>Phone number</th>
    <td><input name="phone" class="form-control" id="phone" type="text" value="{% if user.phone_number %}{{user.phone_number}}{% endif %}" ></td>
  </tr>
  <tr><td></td><td><input type="submit" name="data" value="Save" class="btn btn-primary pull-right"/></td></tr>
</table>
</form>
<h2>Your work settings</h2>
<div class="panel panel-default">
  <div class="panel-heading">Your contracts</div>
  <div class="panel-body">
    <p>Add and manage your hiwi contracts with the KIT below. Enter them as they should appear on the monthly document.</p>
    <span class="pull-right"><a href="contract/add" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></span>
  </div>
  <table class="table">
    <tr>
      <th>Institute</th><th>Personell id</th><th>Personell department</th><th>Contract start</th><th>Contract end</th><th>Work hours</th><th>Payment/hour</th><th></th>
    </tr>
    {% for c in user.contract_set.all %}
      <tr>
        <td>{{c.department}}</td><td>{{c.personell_number}}</td><td>{{c.personell}}</td><td>{{c.contract_begin}}</td><td>{{c.contract_end}}</td><td>{{c.hours}}</td><td>{{c.payment}} €</td><td></td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
